 <div class="container-fluid mt-4">

  <h2 class="mb-4">
    Dashboard
  </h2>


  @if (loading) {

    <div class="text-center">
      <div class="spinner-border"></div>
    </div>

  }


  @if (errorMessage) {

    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>

  }


  @if (!loading) {

    <div class="row g-4">

      <!-- Total -->
      <div class="col-md-4">

        <div class="card shadow">

          <div class="card-body">

            <h6>
              Total Employees
            </h6>

            <h2>
              {{ totalEmployees }}
            </h2>

          </div>

        </div>

      </div>


      <!-- Active -->
      <div class="col-md-4">

        <div class="card shadow">

          <div class="card-body">

            <h6>
              Active Employees
            </h6>

            <h2 class="text-success">
              {{ activeEmployees }}
            </h2>

          </div>

        </div>

      </div>


      <!-- Inactive -->
      <div class="col-md-4">

        <div class="card shadow">

          <div class="card-body">

            <h6>
              Inactive Employees
            </h6>

            <h2 class="text-danger">
              {{ inactiveEmployees }}
            </h2>

          </div>

        </div>

      </div>

    </div>


    <!-- Department -->
    <div class="card shadow mt-4">

      <div class="card-body">

        <h5>
          Employees by Department
        </h5>

        <table class="table">

          <thead>
            <tr>
              <th>Department</th>
              <th>Employees</th>
            </tr>
          </thead>

          <tbody>

            @for (
              department of departmentStats;
              track department.name
            ) {

              <tr>

                <td>
                  {{ department.name }}
                </td>

                <td>
                  {{ department.count }}
                </td>

              </tr>

            }

          </tbody>

        </table>

      </div>

    </div>


    <!-- Designation -->
    <div class="card shadow mt-4">

      <div class="card-body">

        <h5>
          Employees by Designation
        </h5>

        <table class="table">

          <thead>

            <tr>
              <th>Designation</th>
              <th>Employees</th>
            </tr>

          </thead>

          <tbody>

            @for (
              designation of designationStats;
              track designation.name
            ) {

              <tr>

                <td>
                  {{ designation.name }}
                </td>

                <td>
                  {{ designation.count }}
                </td>

              </tr>

            }

          </tbody>

        </table>

      </div>

    </div>

  }

</div>